{% extends 'base.html' %}

{% set title = 'Jelszó megváltoztatása' %}

{% block content %}
    <form method="post" class="mt-5">
        {{ form.csrf_token }}

        <div class="mb-3">
            <label for="username" class="form-label">Felhasználónév</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   value="{{ user.username }}"
                   disabled>
        </div>

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                <ul>
                    {% for error in form.password.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
            {% if form.confirm_password.errors %}
                <ul>
                    {% for error in form.confirm_password.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="role_id" class="form-label">Szerepkör</label>
            <select class="form-control" id="role_id" disabled>
                <option>
                    {{ user.role.name }}
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Vezetéknév</label>
            <input type="text"
                   class="form-control"
                   id="last_name"
                   value="{{ user.last_name if user.last_name else '' }}"
                   disabled>
        </div>

        <div class="mb-3">
            <label for="first_name" class="form-label">Keresztnév</label>
            <input type="text"
                   class="form-control"
                   id="first_name"
                   value="{{ user.first_name if user.first_name else '' }}"
                   disabled>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                {{ form.submit(class="btn btn-primary", onclick="return confirm('Jelszó megváltoztatása?')") }}
            </div>
            <div class="col-auto">
                <a href="{{ url_for('pages.home') }}" class="btn btn-secondary">Mégse</a>
            </div>
        </div>
    </form>
{% endblock %}