<form method="post">
    {{ form.csrf_token }}

    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% if form.username.errors %}
            <ul>
                {% for error in form.username.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.role.label(class="form-label") }}
        {{ form.role(class="form-control") }}
        {% if form.role.errors %}
            <ul>
                {% for error in form.role.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.last_name.label(class="form-label") }}
        {{ form.last_name(class="form-control") }}
        {% if form.last_name.errors %}
            <ul>
                {% for error in form.last_name.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.first_name.label(class="form-label") }}
        {{ form.first_name(class="form-control") }}
        {% if form.first_name.errors %}
            <ul>
                {% for error in form.first_name.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            {{ form.submit(class="btn btn-primary", onclick="return confirm('" ~ confirm_message ~ "')") }}
        </div>
        <div class="col-auto">
            <a href="{{ url_for('users.list_all') }}" class="btn btn-secondary">Mégse</a>
        </div>
    </div>
</form>